.hero-bg {

    position: relative;
    overflow: hidden;

}

.hero-bg::before {

    content: "";

    position: absolute;

    width: 600px;
    height: 600px;

    background: #00E5FF;

    filter: blur(180px);

    opacity: .15;

    top: -200px;
    left: -200px;

}

.hero-bg::after {

    content: "";

    position: absolute;

    width: 600px;
    height: 600px;

    background: #8B5CF6;

    filter: blur(180px);

    opacity: .15;

    bottom: -200px;
    right: -200px;

}